.main {
  font-family: "Roboto";
  margin: 1rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}

.title {
  flex-grow: 1;
}

.formControl {
  // margin: 0 0.5rem !important;
  padding-right: 1rem !important;
}

.select {
  min-width: 200px;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.footer {
  padding: 1rem;
  background-color: lightpink;
  height: 48px;
  font-size: 0.8rem;
  color: #633;
}

.formsection {
  margin-bottom: 16px;
}
